.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    text-align: center;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }

  &--white {
    background-color: $color-light-white;
    color: $color-light-grey;

    &::after {
      background-color: $color-light-white;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.6) scaleY(1.4);
      opacity: 0;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.6s backwards;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
  }
}
