.section-tours {
  padding: 5.5rem 0;
}

.card {
  position: relative;
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    transition: all 4s;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    &--front {
      background-color: green;
    }
    &--back {
      background-color: blue;
      transform: rotateY(180deg);
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
